/* VARIABILI STILI E COLORI */
:root {
  --main-bg-color: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-theme {
  width: 100%;
  background: var(--main-bg-color);
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 10%;
}
section {
  height: 80%;
}
