/* importo il font Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* VARIABILI STILI E COLORI */
:root {
  --primary1-color: #551cab;
  --primary2-color: #ffffff;

  /* il denominativo -t- indica che è per il testo su quel colore */
  --secondary1-color: #1a1a1a;
  --secondary1-t-color: rgb(192, 192, 192);
  --secondary2-color: #ff6b6b;
  --secondary2-t-color: #bd0000;
  --secondary3-color: #ffe66d;
  --secondary3-t-color: #917600;
  --secondary4-color: #4ecdc4;
  --secondary4-t-color: #20706b;
  --secondary5-color: #4e94cd;
  --secondary5-t-color: #1d4666;

  --hight-header: 55px;
  --height-footer: 60px;
}
/* non fa venire il rettangolo blue di selezione su mobile */
::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: var(--primary2-color);
  color: var(--secondary1-color);
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.main-theme {
  width: 100%;
  height: 100%;
  background: var(--primary2-color);
}
header {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 1 var(--hight-header);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  flex: 1 1 100%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 24px;
  flex: 0 1 var(--height-footer);
}
