.parTop-sec {
  width: 100%;
  background: var(--primary2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 26%;
  min-height: 160px;
}
.parBot-sec {
  width: 100%;
  background: var(--primary2-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 74%;
}

/* user account */

.parTop-userpage-sec {
  width: 100%;
  background: var(--primary2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow: scroll;
  scroll-behavior: smooth;
  height: 40%;*/
}
.parBot-userpage-sec {
  width: 100%;
  background: var(--primary2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*overflow: scroll;
  scroll-behavior: smooth;
  height: 60%;*/
}
