.parTop-settingspage-sec {
  width: 100%;
  background: var(--primary2-color);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
}

a {
  color: var(--secondary1-color);
}
a:active {
  color: var(--secondary1-color);
}
